Question 1
>Given a list of names, use list comprehension to reverse those names which starts with letter ‘Z’ and ends with letter ‘a’

In [14]:
list1 = ['Pratham','ZRaja','ZKhushia','ZPrakasha']

[x[::-1] if x[0]=='Z' and x[-1]=='a' else x for x in list1 ]

['Pratham', 'ajaRZ', 'aihsuhKZ', 'ahsakarPZ']


Question 2
>Create an array for marks in 5 subjects for 6 students where marks are in (0-100). Take another array having names of 6 students. Do the following: (3+3+3)
> 1. Find name of students with average marks > 90
> 2. Count number of students having marks more than that of the average of class
> 3. For each student display the number of subjects in which they have scored > 60 marks and display the following:
> 4. Name of students number of subjects where marks>60

In [23]:
marks = [
    [94, 92, 98, 90, 95],
    [80, 70, 88, 50, 55],
    [30, 60, 88, 50, 85],
    [80, 70, 38, 50, 95],
    [80, 70, 88, 50, 15],
    [60, 60, 68, 40, 91]
]
names = ['A', 'B', 'C', 'D', 'E', 'F']

In [38]:
# 1
[names[i] for i in range(6) if sum(marks[i][:])/5 > 90]

['A']

In [60]:
# 2
avg = sum([sum(x[:]) for x in marks])/30
avg

69.33333333333333

In [63]:
count=0
[count++ for i in range(6) if sum(marks[i][:])/5 > avg ]
[sum(marks[i][:])/5 for i in range(6)]

SyntaxError: invalid syntax (43447485.py, line 2)

In [7]:
t = 'Hello'
t[1]

'e'