# Python Language Basics, IPython, and Jupyter Notebooks

In [77]:
import numpy as np
np.random.seed(12345)
#np.set_printoptions(precision=4, suppress=True)

### Language Semantics

In [86]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {1}, b is {0:.3f}'.format(a,type(b),b))
a / b

a is <class 'int'>, b is 4.500

2.25

In [80]:
print(a,type(b))

4.5 <class 'int'>

#### Mutable and immutable objects

In [87]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [88]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

#### Bytes and Unicode

In [91]:
val = "español!"
val

'español!'

In [92]:
val_utf8 = val.encode('utf-8')
print(val_utf8)
type(val_utf8)

b'espa\xc3\xb1ol!'

bytes

In [93]:
val_utf8.decode('utf-8')

'español!'

In [ ]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

user-specified byte literals

In [95]:
bytes_val = b'this is bytes!'
print((bytes_val))
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

b'this is bytes!'

'this is bytes!'

In [101]:
n=-12
n.bit_length()  #excluding sign

4

In [102]:
bin(n)

'-0b1100'

#### None

In [106]:
a = 'c'
print(a is None)
b = 5
a+b #b is not None

False

TypeError: can only concatenate str (not "int") to str

In [13]:
type(None)

NoneType

#### Dates and times

In [107]:
#import datetime
from datetime import datetime, date, time
dt = datetime(2022, 10, 25, 20, 30, 22)
dt.day

25

In [119]:
currentTimeDate = datetime.now()
currentDate = currentTimeDate.strftime("%Y/%m/%d")
print(currentDate)
currentTimeDate

2022/07/28

datetime.datetime(2022, 7, 28, 10, 30, 47, 618628)

In [120]:
currentTimeDate.second

47

In [121]:
currentTimeDate.date()

datetime.date(2022, 7, 28)

In [27]:
currentTimeDate.strftime('%m/%d/%Y %H:%M')

'07/28/2022 09:22'

In [38]:
currentTimeDate

datetime.datetime(2022, 7, 28, 9, 22, 37, 99923)

In [124]:
datetime.strptime(currentTimeDate, '%Y/%m/%d')

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [125]:
currentTimeDate.replace(minute=0, second=0)

datetime.datetime(2022, 7, 28, 10, 0, 0, 618628)

In [127]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - currentTimeDate
print(delta.days)
type(delta)

-3908

datetime.timedelta

### Control Flow

#### if, elif, and else

if x < 0:
    print('It's negative')

if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

In [ ]:
4 > 3 > 2 > 1

#### for loops

for value in collection:
    # do something with value

sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

for a, b, c in iterator:
    # do something

#### while loops

x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

In [ ]:
x=0
if x < 0:
   print('negative!')
elif x == 0:
  pass
print(x)

0

#### range

In [129]:
i=range(10)
i
type(i)
print(i)

range(0, 10)

In [131]:
l=list()
l=list(range(5))
print(l)

[0, 1, 2, 3, 4]

In [134]:
l=range(20, 0, -2)
L1=list()
L1=list(l)
print(L1,l)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2] range(20, 0, -2)

In [135]:
sum = 0
for i in range(100000):
  if i % 3 == 0 or i % 5 == 0:
    sum += i
sum

2333316668

#### Ternary expressions

In [136]:
x = 5
y='Non-negative' if x >= 0 else 'Negative'

In [137]:
y

'Non-negative'

#more on tuples

In [138]:
tup = tuple(['foo', [1, 2], True,None,5])
tup

('foo', [1, 2], True, None, 5)

In [140]:
tup.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [141]:
tup[1].append(5)

In [142]:
tup

('foo', [1, 2, 5, 5], True, None, 5)

In [143]:
tup=tup*2
tup

('foo', [1, 2, 5, 5], True, None, 5, 'foo', [1, 2, 5, 5], True, None, 5)

In [144]:
tup=tup+(55,66)
tup

('foo',
 [1, 2, 5, 5],
 True,
 None,
 5,
 'foo',
 [1, 2, 5, 5],
 True,
 None,
 5,
 55,
 66)

##Unpacking

In [145]:
a,b,c=tup[0:3]  
print(a,b,c)

foo [1, 2, 5, 5] True

#swapping

In [146]:

a,b=b,a
print(a,b,c)

[1, 2, 5, 5] foo True


#iterating and unpacking

In [149]:
tup

('foo',
 [1, 2, 5, 5],
 True,
 None,
 5,
 'foo',
 [1, 2, 5, 5],
 True,
 None,
 5,
 55,
 66)

In [148]:
seq = [(100, 2, 3), (4100, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0:6d}, b={1:4d}, c={2}'.format(a, b, c))

a=   100, b=   2, c=3
a=  4100, b=   5, c=6
a=     7, b=   8, c=9

#discard or extract unkown numbers/values

In [152]:

print("tuple is ",tup)
a, *b, c,r1 = tup
print(a,b,r1)

tuple is  ('foo', [1, 2, 5, 5], True, None, 5, 'foo', [1, 2, 5, 5], True, None, 5, 55, 66)
foo [[1, 2, 5, 5], True, None, 5, 'foo', [1, 2, 5, 5], True, None, 5, 55] 66

In [56]:
b

[1, 2]

#lists

In [153]:
l=list(tup)
print(l)
x = [4, None, ('foo','hoo')]
l.extend(x)
print(l)

['foo', [1, 2, 5, 5], True, None, 5, 'foo', [1, 2, 5, 5], True, None, 5, 55, 66]
['foo', [1, 2, 5, 5], True, None, 5, 'foo', [1, 2, 5, 5], True, None, 5, 55, 66, 4, None, ('foo', 'hoo')]

In [154]:
b = ['saw', 'small', 'swwww','He', 'foxes', 'six']
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small', 'swwww']

In [155]:
b.sort(key=len)
b

['He', 'saw', 'six', 'foxes', 'small', 'swwww']

In [156]:
b.sort(reverse=True)
b

['swwww', 'small', 'six', 'saw', 'foxes', 'He']

## binary search for insertion
## list must be sorted
The built-in bisect module implements binary search and insertion into a sorted list.
bisect.bisect finds the location where an element should be inserted to keep it sorted,

In [165]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
d=bisect.bisect(c, 14) #returns position

In [166]:
d

7

##bisect.insort actually inserts the element into location

In [169]:
c=[12,13,5,6]  #ascending order
bisect.insort(c,4)
c

[4, 12, 13, 5, 6]

In [71]:
bisect.bisect(c, 1)

1

In [170]:
names=["abcd  ","xyz!","fghjk l"]

In [176]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    #print("here:",result)
    return result

In [177]:
NET=clean_strings(names)

In [178]:
NET

['Abcd', 'Xyz', 'Fghjk L']