#using tuple and sets

#sort content of a tuple

In [1]:
tuple1=("red","blue","green")
print(tuple1)
list1=list(tuple1)
list1.sort()
tuple1=tuple(list1)
print(tuple1)

('red', 'blue', 'green')
('blue', 'green', 'red')

In [4]:
s=set()
while True:
    name=input("enter name -1 to end")
    if name=='-1':
        break
    s.add(name)
print(s)
#set(s)

{'S', 'D', 'A'}

In [21]:
s

{'D'}

In [23]:

t=tuple(s)

In [24]:
t

('D', 'E')

In [22]:
s.add("E")

In [18]:
s

{'D'}

In [11]:
tuple1=("red","blue","green")

In [14]:
tuple1[2]='xxx'

TypeError: 'tuple' object does not support item assignment

In [25]:
tuple1

('red', 'blue', 'green')

In [26]:
new1=iter(tuple1)

In [27]:
new1

In [25]:
s=set()
s.add(2)
s.add(3)
s

{2, 3}

In [29]:
for i in new1:
    print(i)

red
blue
green

In [30]:
type(tuple1)

tuple

In [31]:
x

NameError: name 'x' is not defined

In [32]:
if not isinstance(tuple1, (list,set)):
    x = list(tuple1)

In [37]:
c=0
for i,v in enumerate(x):
    print(i,v)
    c+=1

0 red
1 blue
2 green

In [6]:
l=list([12,23])

In [7]:
l.count(12)

1

In [39]:
tuple1.index('blue')

1

#add a new element in tuple

#Sets

In [40]:
setx = set()  #to create an empty set
print(setx)
num_set = set([0, 1, 2, 3, 4, 5]) 
print(num_set)

set()
{0, 1, 2, 3, 4, 5}

##iteration over set

In [ ]:

for n in num_set:  
  print(n)

0
1
2
3
4
5

##adding/removing element

In [ ]:

num_set.add(8)
print(num_set)
num_set.pop()

{0, 1, 2, 3, 4, 5, 8}

0

In [ ]:
num_set.add(5)  #non-duplicate elements
print(num_set)  
num_set.remove(5)  #removing elements
print(num_set)

{1, 2, 3, 4, 5, 8}
{1, 2, 3, 4, 8}

In [ ]:
num_set.pop()  #removing any unkown element
print(num_set)

##iterating over set

In [42]:
for v in num_set:
	print(v,end=' ** ')
print(min(num_set),':',max(num_set),':',len(num_set),':',sum(num_set))  #as in list

0 ** 1 ** 2 ** 3 ** 4 ** 5 ** 0 : 5 : 6 : 15

In [44]:
del(num_set)

In [45]:
num_set.clear()  #to remove all elements
print(num_set)

NameError: name 'num_set' is not defined