# **Assignment 5**

| **Name**         | Pratham Sharma       |
| ---------------- | -------------------- |
| **Roll No**      | AC-1232              |
| **Batch**        | 2023                 |
| **Submitted to** | Prof. Sharanjit Kaur |

In [1]:
import numpy as np
import pandas as pd

## **Question 1**

Consider the following data frame containing a family name, gender of the family member and her/his monthlyincome in each record.

| Name  | Gender | Monthly Income (Rs.) |
| ----- | ------ | -------------------- |
| Shah  | Male   | 114000.00            |
| Vats  | Male   | 65000.00             |
| Vats  | Female | 43150.00             |
| Kumar | Female | 69500.00             |
| Vats  | Female | 155000.00            |
| Kumar | Male   | 103000.00            |
| Shah  | Male   | 55000.00             |
| Shah  | Female | 112400.00            |
| Kumar | Female | 81030.00             |
| Vats  | Male   | 71900.00             |

Write a program in Python using Pandas to perform the following:

1. Calculate and display familywise (on family name) gross monthly income.
2. Calculate and display the member with the highest monthly income in a family.
3. Calculate and display monthly income of all members with income greater than Rs. 60000.00.
4. Calculate and display the average monthly income of the female members in the Shah family.
5. Find the family name in which females average income is maximum
6. Compare member count and average income for each family using appropriate plot
7. Draw a pie chart for each family to show their income distribution gender wise

In [39]:
data = {
    'Name': ['Shah', 'Vats', 'Vats', 'Kumar', 'Vats',
             'Kumar', 'Shah', 'Shah', 'Kumar', 'Vats'],
    'Gender': ['Male', 'Male', 'Female', 'Female', 'Female',
               'Male', 'Male', 'Female', 'Female', 'Male'],
    'Monthly Income (Rs.)': [114000.00, 65000.00, 43150.00, 69500.00, 155000.00, 103000.00, 55000.00, 112400.00, 81030.00, 71900.00]
}

DFQ1 = pd.DataFrame(data)
DFQ1

    Name  Gender  Monthly Income (Rs.)
0   Shah    Male              114000.0
1   Vats    Male               65000.0
2   Vats  Female               43150.0
3  Kumar  Female               69500.0
4   Vats  Female              155000.0
5  Kumar    Male              103000.0
6   Shah    Male               55000.0
7   Shah  Female              112400.0
8  Kumar  Female               81030.0
9   Vats    Male               71900.0

In [30]:
# 1. Calculate and display family wise (on family name) gross monthly income.
pd.pivot_table(DFQ1, index=['Name'], aggfunc='sum')

       Monthly Income (Rs.)
Name
Kumar              253530.0
Shah               281400.0
Vats               335050.0

In [69]:
# 3. Calculate and display monthly income of all members with income greater than Rs. 60000.00.
pd.pivot_table(DFQ1[DFQ1['Monthly Income (Rs.)'] >
               60000.00], index=['Name', 'Gender'])

              Monthly Income (Rs.)
Name  Gender
Kumar Female               75265.0
      Male                103000.0
Shah  Female              112400.0
      Male                114000.0
Vats  Female              155000.0
      Male                 68450.0

In [92]:
# 4. Calculate and display the average monthly income of the female members in the Shah family.
DFQ1['Monthly Income (Rs.)'].groupby([
    DFQ1[DFQ1['Name'] == 'Shah']['Name'],
    DFQ1[DFQ1['Gender'] == 'Female']['Gender']
]).mean()

Name  Gender
Shah  Female    112400.0
Name: Monthly Income (Rs.), dtype: float64

In [ ]:
# 5. Find the family name in which females average income is maximum

In [ ]:
# 6. Compare member count and average income for each family using appropriate plot

In [ ]:
# 7. Draw a pie chart for each family to show their income distribution gender wise

## **Question 2**

Use tips data to do the following:
see appropriate parameters for figs/plots

1. Compareaverage tipspaid by smoker and non-smokers on weekdays and weekends individuallyusing bar plot
2. comparethe distribution of bill amountof bills paid on weekday and week end
3. Identify outlier in the bill amount of females customers (explicitlymention the formula used to detect outliers) and show using appropriate plot
4. Find the size of customers who have paid maximum tip on weekend
5. Compare the average amount of bill paid by females and males customers on all days (using line plot, xaxis has four tics corresponding to day)