Create a dataframe having atleast 3 columns and 50 rows to store numeric data generated using a random function. Replace 10% of the values by null values whose index positions are generated using random function.

Do the following :

1. Identify and count missing values in dataframe.
2. Drop the column having more than 5 null values
3. Identify the row label having maximum of the sum of all values in a row and drop that row.
4. Sort the dataframe on basis of first column.
5. Remove the duplicates from the first column.
6. Find the correlation between first and second column and covariance between second and third column.
7. Detect the outliers and remove the rows having outliers
Discretize second column and create 5 bins.

In [2]:
import pandas as pd
import numpy as np

In [ ]:
data = { x : [x for x in np.random.randn(50)] for x in ['col1','col2','col3']}
df = pd.DataFrame(data)
df

In [ ]:
for i,j in zip(np.random.randint(1,50,(10)), np.random.randint(1,3,(10))):
	df.iloc[i,j] = np.nan
df

In [83]:
print(
	'No of Empty Values => \n', 
	df.isnull().sum(),
)

No of Empty Values =>
 col1     0
col2     7
col3    10
dtype: int64 Indexes of Empty Values =>

In [90]:
# 4
df.sort_values(by='col1')

        col1      col2      col3
10 -2.014337 -0.209005  1.871957
2  -1.878324  1.359614       NaN
7  -1.818486  0.529524 -0.289134
8  -1.649682 -2.395404 -0.804097
29 -1.449885  1.958440  0.750010
42 -1.304928  0.101673 -0.568601
0  -0.927663  0.184760  0.145362
32 -0.804369 -1.444101  2.626049
45 -0.692448  0.401941  0.302740
49 -0.688264  0.322599  0.745538
14 -0.489529  0.515004  0.246452
37 -0.488397 -1.061768  0.661790
9  -0.422903  2.162623       NaN
36 -0.403371  1.186170  0.160008
16 -0.396019       NaN       NaN
43 -0.312030  0.775343 -0.835809
46 -0.214157 -0.572600  0.727770
34 -0.177418  0.707419  0.404458
30 -0.133187 -1.568042       NaN
48 -0.063270 -1.144595       NaN
6   0.002197 -0.612968 -1.933096
35  0.039802 -0.592600  0.593210
38  0.067156 -0.459305 -0.332673
33  0.087234  0.449351  0.524182
24  0.132309 -0.026089 -0.408211
12  0.140974 -0.179995  1.087952
27  0.185390       NaN  1.629097
39  0.235276 -0.721488 -1.235625
23  0.275682 -0.973476  0.380799
21  0.322845 -0.169365 -0.410582
11  0.346689 -0.463862       NaN
25  0.471441  0.577510       NaN
41  0.478471 -0.459777  0.447072
1   0.530552       NaN  0.915282
17  0.575568  1.672385       NaN
3   0.602822       NaN  0.863941
31  0.611638       NaN  0.329948
40  0.705741 -0.819790 -0.128557
5   0.720332 -1.769157  1.529598
26  0.725993  0.639898       NaN
44  0.762748 -0.254678  0.192548
28  0.783035 -1.224121  0.102385
47  0.975559 -0.279078 -0.613455
22  1.014901       NaN -1.189379
4   1.101235 -1.686032 -1.939693
15  1.297923       NaN -0.485402
19  1.322032 -0.393619       NaN
13  1.967064 -0.292080  1.143637
18  2.161175  0.370216 -0.420144
20  2.805858  0.857137  1.897904