In [1]:
import numpy as np

DOT PRODUCT OF NP ARRAY AND ITS TRANSPOSE

In [2]:
data = np.random.randn(12).reshape(4,3)
data

array([[ 0.30477502, -1.52272109, -0.25008045],
       [ 1.10610314,  0.43474144,  0.01007204],
       [ 1.36684025, -0.41486126,  0.37819887],
       [-1.50237491, -0.64998875, -1.58352312]])

In [3]:
np.dot(data, data.T)

array([[ 2.47410758, -0.32739618,  0.95371661,  0.92787341],
       [-0.32739618,  1.41256572,  1.33531814, -1.96030795],
       [ 0.95371661,  1.33531814,  2.18339653, -2.382738  ],
       [ 0.92787341, -1.96030795, -2.382738  ,  5.18716121]])

In [4]:
data.sum(data.T)

TypeError: only integer scalar arrays can be converted to a scalar index

In [ ]:
#
data1 = np.ones((3,2))
data2 = np.ones((2,3))

In [ ]:
data1[0:2,0:2]*data2[0:2,0:2]

In [ ]:
data.swapaxes(1,1)

In [ ]:
# given a 2d array set all even elements to zero
data = np.random.randint(0,9,(3,4))
data

In [ ]:
data[data%2 == 0] = 0
data

In [ ]:
a = np.random.randint(0,9,(3,5))
for i in range(a.shape[1]) : # will give error because index is out of bounds
	a[i] = i*3

In [12]:
x = 8
print(eval('x + x'))

16

In [19]:
l = [1, 2, 3, 4, 5, 6, 89]
l[1::2]

[2, 4, 6]

In [1]:
import pandas as pd
import numpy as np

In [36]:
data = [[2,x] for x in np.random.randint(1,6,(5))]
df = pd.DataFrame(data)
# df["three"] = pd.Series([max(x,y) for x,y in zip(df[0],df[1])])
df['max'] = df.max(axis=1)
df

   0  1  max
0  2  1    2
1  2  3    3
2  2  1    2
3  2  5    5
4  2  3    3

generate a df with 4 cols, 10 rows
col-1 is Name, String
others are userdefined, Numeric
Remove duplicate rows
Find Corelation b/w all pairs of attributes which are numeric

In [18]:
df = pd.DataFrame({'name': ['A', 'B', 'C', 'D'], 'col1': np.random.randint(
    1, 9, (4)), 'col2': np.random.randint(1, 9, (4)), 'col2': np.random.randint(1, 9, (4)), 'col3': np.random.randint(1,9,(4))})
df.append(df.iloc[3])

C:\Users\prrra\AppData\Local\Temp\ipykernel_29456\3445306492.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df.iloc[3])

  name  col1  col2  col3
0    A     4     2     7
1    B     7     3     5
2    C     3     7     6
3    D     6     2     4
3    D     6     2     4

In [10]:
df.drop_duplicates
df

  name  col1  col2  col3
0    A     1     3     4
1    B     7     1     6
2    C     7     2     7
3    D     2     1     5

df.corr()

In [23]:
df.corr().iloc[:,1]

col1   -0.613572
col2    1.000000
col3    0.216930
Name: col2, dtype: float64

In [12]:
# create a df with 4 cols humidity, temp, airflow
data = {
	'humidity':np.random.randint(1,100,10),
	'temp': np.random.randint(0,40,10),
	'airFlow':np.random.randint(10,20,10)
}

pd.DataFrame(data=data).to_csv('temp.csv')